{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Project X</title>
{% endblock meta %} {% block content %}
<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex justify-content-between align-items-center">
    <div id="logo">
      <h7><p1 style="font-weight: bolder">Project X</p1></h7>
    </div>

    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-text" data-aos="zoom-out">
    <h2><strong>Pemrograman Lanjut</strong></h2>
  </div>
  <div class="card" data-aos="zoom-out">
    <div class="row">
      <div class="column" style="margin-top: auto; margin-bottom: auto">
        <table style="color: black">
          <tr>
            <td style="width: 2.5cm">Nama</td>
            <td>:</td>
            <td>Faizal Rifky Fahreza</td>
          </tr>
          <tr>
            <td>NIM</td>
            <td>:</td>
            <td>181810101071</td>
          </tr>
          <tr>
            <td>Jurusan</td>
            <td>:</td>
            <td>Matematika</td>
          </tr>
          <tr>
            <td style="vertical-align: text-top">Fakultas</td>
            <td style="vertical-align: text-top">:</td>
            <td>Matematika dan Ilmu Pengetahuan Alam</td>
          </tr>
        </table>
      </div>
      <div class="column" >
        <img
          src="{% static 'assets/img/image.jpg' %}"
          style="height: 7cm; border-radius: 50pt"
        />
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <marquee
    ><strong
      ><img
        src="{% static 'assets/img/464-4647320_png-onlygfx-com-free-download-grungexpng-grunge-x.png' %} "
      style="height: 13pt;"/>
      Poject X | Pemrograman Lanjut</strong
    ></marquee
  >
</footer>

<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>


<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock content %}
