{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Project X</title>
{% endblock meta %} {% block content %}
<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex justify-content-between align-items-center">
    <div id="logo">
      <h7><p1 style="font-weight: bolder">Project X</p1></h7>
    </div>

    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-text" data-aos="zoom-out">
    <h2><strong>Derivative</strong></h2>
  </div>
  <div class="card" data-aos="zoom-out">
    <div class="row">
      <div class="column" style="margin-top: auto; margin-bottom: auto">
  <form method="post" name="deriv">
    {% csrf_token %}
    <label>Masukkan variabel :</label>
    <input type="text" name="var1" value="{{var1}}">
    <label>Masukkan Persamaan :</label>
    <textarea type="text" name="pers">{{y}}</textarea><br><br>
    <input type="submit" value="Solve" class="btn btn-success">
  </form>
        <br>
 <button type="button" class="btn btn-danger" onclick="location.href='{% url 'main:home' %}'">Back</button>
      </div>
      <div class="column" >
      <p style="color:black">{{yprime}}</p>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <marquee
    ><strong
      ><img
        src="{% static 'assets/img/464-4647320_png-onlygfx-com-free-download-grungexpng-grunge-x.png' %} "
      style="height: 13pt;"/>
      Poject X | Pemrograman Lanjut</strong
    ></marquee
  >
</footer>

<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>


<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock content %}
